header {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    background-color: #3949ab;
	display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
	/* align-items: center; */
    height: 130px;
    color: white;
}

.logo {
    display: flex;
	align-items: center;
	margin-left: 1rem;
}

.logo img {
    margin-top: 5%;
    margin-bottom: 10%;
	width: 80px;
	height: auto;
}

.headwords {
    margin-top: -5%;
    display: flex;
	flex-direction: column;
	margin-left: .5rem;
}

.headwords h1 {
    font-size: 18pt
}

h2 {
    margin-top: -10%;
	font-size: 0.8rem;
}

.social {
	margin-left: 40%; 
    padding-top: 20%;
}

.social svg {
	width: 25px;
	height: auto;
}

nav {
	margin: 0 auto;
}

.navigation {
	list-style: none;
	padding: 5%;
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

.navigation a {
	display: flex;
	text-align: left;
	text-decoration: none;
	font-weight: 700;
	transition: 0.5s;
	font-size: 18pt;
    color: white;
}

.navigation a:hover {
	color: black;
	background-color: #00701a;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: flex;
}

.responsive a.ham::before {
	content: "❌ ";
}

#datediv {
    background-color: #6f74dd;
    color: black;
    text-align: center;
    grid-column: 1/4;
    grid-auto-flow: 2/3;
    height: 20px;
}

main {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

main div {
    border-top: 8px white solid;
    background-color: grey;
    min-height: 100px;
}

p {
    margin: 5%;
}

#join {
    display: none
}

#spotlight1 {
    border: 1px black solid;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

#spotlight2 {
    border: 1px black solid;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    
}

footer {
    margin-top: 5%;
    background-color: #3949ab;
    color: white;
    text-align: center;
}
/* Media Query for medium+ views */

