@media only screen and (min-width: 39.5em) {
    header {
        grid-template-rows: 1fr 2fr;
        align-items: center;
    }

    header p:nth-child(1){
        font-size: 15pt;
		margin-left: 0;
        width: 100%;
        grid-column: 1/5;
    }

    .logo {
        grid-row: 2/3;
        grid-column: 1/3;
    }

    .headwords {
        margin-left: 0;
        margin-top: -5%;

    }

    .headwords h1 {
        font-size: 25pt;
        margin-bottom: 15%;
    }
    
    .headwords h2 {
        font-size: 18pt;
    }

    .logo img {
        width: 190px;
        margin-bottom: -15%;
        margin-top: -15%;

    }

    .social {
        padding-top: 0;
        padding-left: 20%;
        grid-column: 3/4;
        grid-row: 2/3;
    }

    .social svg {
        width: 45px;
    }

    nav button{
        margin: .2rem 5vw;
    }

    nav{
        padding-left: 0;
    }

    nav ul li a {
        
    }

    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    
    main div {
        border-top: 8px white solid;
    }
    
    p {
        margin: 5%;
    }

    #hero {
        grid-row: 1/2;
        grid-column: 1/3;
    }

    #news {
        grid-row: 2/3;
        grid-column: 1/3;
    }
    
    #spotlights {
        grid-row: 3/4;
        grid-column: 1/3;
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
    
    #spotlight1 {
        grid-column: 1/2;
        border: 1px solid rgba(0,0,0,.3);
        margin: 5%;
        margin-right: 1%;
        height: auto;
    }

    #spotlight2 {
        grid-column: 2/3;
        border: 1px solid rgba(0,0,0,.3);
        margin: 5%;
        margin-left: 1%;
        height: auto;
    }

    #join {
        display: inline;
        grid-row: 4/5;
        grid-column: 1/3;
    }

    #event {
        grid-row: 5/6;
        grid-column: 1/2;
        border-right: 5px white solid;
        height: 100%;
    }

    #weather {
        grid-row: 5/6;
        grid-column: 2/3;
        height: 100%;
    }

    #degree {
        min-height: 0;
    }

    footer {
		display: grid;
		grid-template-columns: 1fr;
	}

	.contactinfo {
		display: grid;
		grid-template-columns: 2fr 1fr;
	} 

	#footLogo {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	#footLogo img {
		margin-top: -10%;
		width: 180px;
		padding-left: 5%;
	}

	#location {
		margin-left: -10%;
		margin-top: 5%;
		text-align: left;
		font-size: 10pt;
	}

	#location p{
		margin-top: -3%;
		margin-left: -.01%;
	}

	#contact{
		margin-top: 3%;
		padding-right: 5%;
		font-size: 10pt;
      
	}

	#normfooter{
		margin-top: -5%;
		padding-top: 2%;
	}

    .location {
        width: 5%;
    }
}