@media only screen and (min-width: 64rem) {
    #logo {
        
        margin-left: 2%;
        padding-left: 0;
        margin-right: 0;
        padding-bottom: 1%;
    }
    
    nav button {
        display: none;
    }

    nav ul li a {
        border: none;
    }

	nav{
        padding: 0;
		margin-top: 4%;
	}

	nav ul#priNav {
		display: flex;
        position: relative;
		padding-left: 25%;
		font-size: 15pt;
        background-color: transparent;
	}

    .subnav-content {
        position: absolute;
        left: 0;
        width: auto;
        left: auto;
        text-align: left;
    }

    .subnav-content a {
        color: black;
        text-decoration: none;
        width: auto;
    }

    #socials{
        display: flex;
        padding-left: 35%;
    }

    #socials .social{
        margin-right: 1%;
        margin-left: 1%;
        width: 40%;
    }

    .reserve {
        font-size: 20pt;
        padding: 15px 30px;
    }

    #homeLarge{
        margin-top: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #weather{
        grid-column: 2/3;
    }

    #follow{
        margin-top: -50%;
        grid-column: 1/2;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #follow h1{
        margin-top: auto;
        margin-bottom: auto;
    }

    #media{
        display: grid;
        grid-template-columns: 1fr;
    }

    #follow .social{
        width: 25%;
    }
    
    .foodImg{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
 
    }

    #food img{
        width: 99%;
    }

    #food3, #setup3, #spcServ3{
        display: inline;
    }

    #suitesImg img{
        width: 99%;
    }

    #spcServ3{
        position: relative;
    }

    #wedBtn{
        display: inline;

    }

    #wedBtn a{
        position: absolute;
        margin-top: 16%;
        right: 5%;
    }

    #formInfo{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .myinput select{
        height: 50%;
    }



}
