@media only screen and (min-width: 64rem) {
    #logo {
        
        margin-left: 2%;
        padding-left: 0;
        margin-right: 0;
        padding-bottom: 1%;
    }
    
    nav button {
        display: none;
    }

    nav ul li a {
        border: none;
    }

	nav{
        padding: 0;
		margin-top: 4%;
	}

	nav ul#priNav {
		display: flex;
        position: relative;
		padding-left: 25%;
		font-size: 15pt;
        background-color: transparent;
	}

    nav ul li.highlight a {
        text-decoration: underline;
        text-decoration-color: #b7cfe0;
        background-color: transparent;
        text-decoration-thickness: 3px;
    }

    nav ul li a:hover {
        text-decoration: underline;
        text-decoration-color: #889eae;
        background-color: transparent;
        text-decoration-thickness: 3px;
        color: black;
    }

    .subnav-content {
        position: absolute;
        left: 0;
        width: auto;
        left: auto;
        text-align: left;
        background-color: #b7cfe0;
    }

    .subnav-content a {
        color: black;
        text-decoration: none;
        width: auto;
    }

    .subnav-content li.highlight a{
        background-color: #889eae;
        text-decoration: none;
      }
      
      /* Add a grey background color on hover */
      .subnav-content a:hover {
        background-color: #889eae;
        color: white;
      }

    #socials{
        display: flex;
        padding-left: 35%;
    }

    #socials .social{
        margin-right: 1%;
        margin-left: 1%;
        width: 40%;
    }

    #reserve {
        font-size: 20pt;
        padding: 15px 30px;
    }

    #welcome{
        margin: 10% 28%;
        padding: 4%;
    }

    #welcome h1{
        margin-bottom: 8%;
        
    }

    #homeLarge{
        margin-top: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #weather{
        grid-column: 2/3;
    }

    #follow{
        margin-top: -50%;
        grid-column: 1/2;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #follow h1{
        margin-top: auto;
        margin-bottom: auto;
    }

    #media{
        display: grid;
        grid-template-columns: 1fr;
    }

    #follow .social{
        width: auto;
        margin-right: 0;
        margin-left: 0;
        margin-top: 10px;
        margin-bottom: -10%;
    }

    #tempMain h2{
        grid-column: 0;
        text-align: center;
        font-size: 23pt;
    }

    #cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 98%;
        margin: 5% 2%;
        justify-content: center;
    }

    #cards section{
        width: 83%;

    }
    
    .foodImg{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
 
    }

    #food img{
        width: 99%;
    }

    #food3, #setup3, #spcServ3{
        display: inline;
    }

    #mission{
        padding: 3%;
    }

    #suitesImg img{
        width: 99%;
    }

    #suitesImg {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #suite3{
        padding-left: 0;
        grid-column: 3/4;
    }

    #conForm fieldset{
        margin: 5% 15%;
    }

    #conForm label, #conForm .mysubmit{
        margin-left: 2%;
    }

    #spcServ3{
        position: relative;
    }

    #wedBtn{
        display: inline;

    }

    #wedBtn a{
        position: absolute;
        margin-top: 16%;
        right: 5%;
    }

    #mainRe{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #resInfo{
        margin: 5% 3%;
    }

    #formInfo{
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
    }


}
