@media only screen and (min-width: 39.5em) {
    header{
        display: grid;
        grid-template-columns: 7fr 1fr;
    }
    #logo {
        margin-left: 2%;
        width: 30%;
        display: block;
        margin-left: auto;
        padding-left: 15%;
        margin-right: auto;
    }

    nav{
        margin-top: auto;
        margin-bottom: auto;
        margin-left: -45%;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    footer section {
        margin-bottom: 5%;
    }

    #location{
        display: block;
        margin-top: auto;
        margin-bottom: auto;
    }

    #footcontact{
        display: block;
        margin-top: auto;
        margin-bottom: auto;
    }

    #socials{
        margin-top: auto;
        margin-bottom: auto;
        display: grid;
    }

    #socials .social{
        width: 20%;
        margin-right: auto;
        margin-left: auto;
    }

    #tempSum{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-right: 2%;
        padding-left: 2%;
    }

    #tempSum picture{
        margin-top: auto;
        margin-bottom: auto;
        width: 98%;
    }

    #tempSum div{
        display: block;
        margin-top: auto;
        margin-bottom: auto;
    }

    #tempSum p{

        text-align: left;
    }
    
    #contact{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #contact img{
        grid-column: 2/3;
    }

    #contact div {
        display: block;
        margin-top: auto;
        margin-bottom: auto;
    }

    #weather{
        margin-left: 30%;
        margin-right: 30%;
    }

    #follow .social{
        width: 13%;
    }
    



}