header {
    background-color:#2f155c;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-around; 
    font-size: 18pt;
}

footer{
    background-color: #2f155c;
    color: white;
    text-align: center;
}

nav {
    background-color:#7554ad;
}

nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 18pt;
    padding: 2%;
}

nav a:hover {
    background-color: #2f155c;
    
}

@media screen  and (min-width: 600px) {
    header {
        font-size: 25pt;
    }
    nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
    }
    nav a {
        padding: 8%;
    }
}