header {
    background-color:#283593;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-around; 
}

header h1{
    padding-left: 2%;
}

header img {
    align-items: center;
    padding: 15% 5%;
}

footer{
    background-color: #283593;
    color: white;
    text-align: center;
}

nav {
    background-color:#5f5fc4; 
}

nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 18pt;
    padding: 2%;
}

nav a:hover {
    background-color: #001064;
    color: white;
}

.highlight {
    background-color: #001064;
    color: white;
}

@media screen  and (min-width: 600px) {
    header {
        font-size: 25pt;
    }
    nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
    }
    nav a {
        padding: 8%;
    }
}